html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-family: 'Open Sans';
    color: rgb(48, 48, 48);
}

@font-face {
    font-family: 'Open Sans';
    src: url(../fonts/open-sans/open-sans-v29-latin-300.woff2);
    font-display: fallback;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    margin: 8px 0px;
    color: #6e6e6e;
}

h3 {
    font-size: 16px;
    color: #6e6e6e;
}

/* navigation bar */
.navBar {
    z-index: 2;
    position: fixed;
    top: 12px;
    right: 16px;
    margin-right: 12px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #e5e5e5;
    border-radius: 12px;
}

.navBar:hover {
    background-color: #d3d3d3;
}

.navBar img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.barImg {
    background-color: #e5e5e5;
    border-radius: 12px 0px 0px 0px;
    transition: all 125ms linear;
}

.barImg:hover {
    background-color: #d3d3d3;
    transition: all 125ms linear;
}

.menu {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.backNavBar {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    top: 12px;
    right: 28px;
    cursor: pointer;
}

.back {
    position: fixed;
    width: 40px;
    height: 40px;
    /* background-color: greenyellow; */
    top: 12px;
    right: 90px;
    cursor: pointer;
}

.backImg {
    width: 40px;
    height: 40px;
    background-color: rgb(214 214 214 / 24%);
    border-radius: 50%;
}

/* button laws */

.lawButton {
    border: none;
    width: 160px;
    height: 50px;
    background-color: #e5e5e5;
    color: #5e5e5e;
    font-size: 14px;
    cursor: pointer;
    transition: all 125ms linear;
}

.lawButton:first-child {
    border-radius: 12px 0px 0px 0px;
}

.lawButton:last-child {
    border-radius: 0px 0px 0px 12px;
}

.lawButton:hover {
    background: none;
    background-color: #d3d3d3;
    transition: all 125ms linear;
}

/* jumpt window top */
.arrowUp {
    z-index: 3;
    position: fixed;
    bottom: 16px;
    display: none;
    margin-right: 16px;
    right: 16px;
}

.arrowUp img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #8e8c8ca6;
}

.arrowUp img:hover {
    background-color: #676767a6;
}

/* header line */

.headerLine {
    border-bottom: 3px solid #ececec;
    width: 100%;
}

.dateContainer {
    display: flex;
    margin: 16px 0px;
}

.dateBox {
    display: flex;
}

.date {
    margin: 0px 20px;
    border: 1.2px solid #e5e5e5;
    border-radius: 4px;
    text-align: center;
}

.date input {
    border: none;
    background-color: #ececec;
    border-radius: 0px 0px 4px 4px;
    font-size: 14px;
    padding: 6px;
    cursor: pointer;
    color: #525252;
    outline: none;
}

.date input:hover {
    background-color: #e5e5e5;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    justify-content: space-between;
}

.showBtn {
    border: none;
    background-color: rgb(168 168 182);
    color: white;
    font-size: 16px;
    border-radius: 4px;
    padding: 5px 28px;
    cursor: pointer;
    box-shadow: 0px 0px 1px 1px rgb(22 22 22 / 73%);
}

.showBtn:hover {
    background-color: rgb(161, 161, 173);
}

.currentNews {
    margin: 16px 0px;
    text-align: center;
}

.tabelCourse {
    margin: 16px;
    /* width: 100%; */
    width: 462px;
    border-collapse: collapse;
}

.tabelCourse th,
.tabelCourse td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.tabelCourse td {
    padding-left: 16px;
}

th:first-child {
    border-top-left-radius: 4px;
    background-color: #ececec;
}

th:last-child {
    border-top-right-radius: 4px;
    background-color: #ececec;
}

tbody:nth-last-of-type(2n) {
    background-color: #f5f5f5;
}

.diagram {
    border: 1.2px solid #e5e5e5;
    border-radius: 4px;
    width: 462px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    background-color: #f5f5f5;
}

.diagram img {
    width: 100px;
    height: 100px;
}

.myChart {
    width: 100%;
    max-width: 462px;
    height: 300px;
    margin: 16px 0px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 12px 0px;
}

.d-none {
    display: none;
}

.overflow {
    overflow: hidden;
}

/* page Laws */
.pageLaws {
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100vh;
}

.law {
    background-color: white;
    overflow-y: scroll;
    height: 100vh;
}

.lowContent {
    margin: 16px;
}

.privacyCenter h1 {
    font-size: 18px;
    color: #262626;
    font-weight: 400;
}

.law p {
    font-size: 12px;
    color: #626262;
}

.law li {
    color: #4b4b4b;
    font-size: 14px;
}

.copyBox {
    margin-top: 16px;
}

/* responsive */
@media (max-width: 520px) {
    .dateContainer {
        flex-direction: column;
    }

    .buttonContainer {
        flex-direction: unset;
        margin-top: 16px;
    }

    .date input {
        width: 128px;
    }

    .showBtn {
        padding: 6px 0px;
        width: 142px;
    }

    .currentNews,
    .tabelCourse,
    .myChart,
    .diagram {
        width: 350px !important;
    }
}

@media (max-width: 380px) {

    .dateBox,
    .buttonContainer {
        flex-direction: column;
    }

    .date:first-child,
    .showBtn {
        margin-bottom: 16px;
    }

    .tabelCourse {
        width: 250px;
    }

    .currentNews,
    .tabelCourse,
    .myChart,
    .diagram {
        width: 250px !important;
    }
}