<section class="copyRightContainer">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons auf dieser Seite stammen von <b>getbootstrap</b>.</span>
                <br>
                <a target="_blank" href="https://icons.getbootstrap.com/">getbootstrap.com</a>
            </div>
            <div class="copyBox">
                <span>Alle APIs auf dieser Seite stammen von <b>nasdaq</b>.</span>
                <br>
                <a target="_blank" href="https://data.nasdaq.com/">data.nasdaq.com</a>
            </div>
        </div>
    </div>
</section>